---
import '../styles/base.css'


---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notesss</title>
</head>
<body class=" bg-slate-900 text-white min-h-screen">
	<div class=" max-w-[800px] mx-auto">
		<header>
			<h1>Notess</h1>
		</header>
		<main class="my-8">
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quasi tenetur culpa rem nulla, harum ducimus officia! Hic enim libero, eum quidem optio, minus eius, doloremque accusantium obcaecati nobis blanditiis?
			</p>
			<div class="flex ">
				<a href="/login" class=" mx-auto mt-6 rounded-full px-4 bg-white text-slate-800 font-bold text-lg " >
				Go to App</a>
			</div>	
		</main>
	</div>
    
</body>
</html>