---
import '../styles/base.css'

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notesss</title>
</head>
<body class=" bg-slate-900 text-white min-h-screen">
	<div class=" max-w-[800px] mx-auto">
		<header>
			<h1>Notess</h1>
		</header>
		<main class="my-8">
			<p>
				redirecting... <br>
				If you are not logged out & redirected automatically, please click here
			</p>
			<div class="flex ">
				<a href="/" class=" mx-auto mt-6 rounded-full px-4 bg-white text-slate-800 font-bold text-lg ">Finish</button>
			</div>
		</main>
	</div>
    <script>
        import("../auth-client").then((({signOut})=>{
			signOut()
			window.location.href = "/"
		}))

    </script>
</body>
</html>