---
import Home from '../preact/Home'
import { allNotes  } from '../db'
import '../styles/base.css'
// import { auth } from '../auth-server';

// const session = await auth.api.getSession({
//   headers: Astro.request.headers,
// });

// if(!session) {
// 	return Astro.redirect('/login')
// }
const id = 'session?.user.id'
const notes = await allNotes(id)
const user = {
	id,
	name: 'session?.user.name',
}

console.log(user,' go');


---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notesss</title>
</head>
<body class=" bg-slate-900 text-white">
	<Home notes={notes} user={user} client:idle />
</body>
</html>