---
import Home from '../preact/Home'
import { allNotes  } from '../db'
import '../styles/base.css'

const notes = await allNotes()
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notesss</title>
</head>
<body class=" bg-slate-900 text-white">
	<Home notes={notes} client:load />
</body>
</html>